/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/css/plugins/splide.min.css ***!
  \****************************************************************************************************************************/
.splide__container{box-sizing:border-box;position:relative}.splide__list{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{align-items:center;display:flex;flex-wrap:wrap;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{-webkit-animation:splide-loading 1s linear infinite;animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}@-webkit-keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.splide__track--fade>.splide__list{display:block}.splide__track--fade>.splide__list>.splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;position:relative;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__arrow{align-items:center;background:#ccc;border:0;border-radius:50%;cursor:pointer;display:flex;height:2em;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2em;z-index:1}.splide__arrow svg{fill:#000;height:1.2em;width:1.2em}.splide__arrow:hover:not(:disabled){opacity:.9}.splide__arrow:disabled{opacity:.3}.splide__arrow:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide.is-focus-in .splide__arrow:focus{outline:3px solid #0bf;outline-offset:3px}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;position:relative;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4);z-index:1}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide.is-focus-in .splide__pagination__page:focus{outline:3px solid #0bf;outline-offset:3px}.splide__progress__bar{background:#ccc;height:3px}.splide__slide{-webkit-tap-highlight-color:transparent}.splide__slide:focus{outline:0}@supports(outline-offset:-3px){.splide__slide:focus-visible{outline:3px solid #0bf;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide__slide:focus-visible{border:3px solid #0bf}}@supports(outline-offset:-3px){.splide.is-focus-in .splide__slide:focus{outline:3px solid #0bf;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide.is-focus-in .splide__slide:focus{border:3px solid #0bf}.splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus{border-color:#0bf}}.splide__toggle{cursor:pointer}.splide__toggle:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide.is-focus-in .splide__toggle:focus{outline:3px solid #0bf;outline-offset:3px}.splide__track--nav>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer}.splide__track--nav>.splide__list>.splide__slide.is-active{border:3px solid #000}.splide__arrows--rtl .splide__arrow--prev{left:auto;right:1em}.splide__arrows--rtl .splide__arrow--prev svg{transform:scaleX(1)}.splide__arrows--rtl .splide__arrow--next{left:1em;right:auto}.splide__arrows--rtl .splide__arrow--next svg{transform:scaleX(-1)}.splide__arrows--ttb .splide__arrow{left:50%;transform:translate(-50%)}.splide__arrows--ttb .splide__arrow--prev{top:1em}.splide__arrows--ttb .splide__arrow--prev svg{transform:rotate(-90deg)}.splide__arrows--ttb .splide__arrow--next{bottom:1em;top:auto}.splide__arrows--ttb .splide__arrow--next svg{transform:rotate(90deg)}.splide__pagination--ttb{bottom:0;display:flex;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}
/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/css/tagList.css ***!
  \*****************************************************************************************************************/
/*
! tailwindcss v3.0.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e1e1e1; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Inter, NotoSansTC, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(../fonts/Inter-Regular.ttf) format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.ttf) format("woff2");
  }
  @font-face {
    font-family: "NotoSansTC";
    font-weight: 300;
    src: url(../fonts/NotoSansTC-Light.otf) format("woff2");
  }
  @font-face {
    font-family: "NotoSansTC";
    font-weight: 400;
    src: url(../fonts/NotoSansTC-Regular.otf) format("woff2");
  }
  @font-face {
    font-family: "NotoSansTC";
    font-weight: 700;
    src: url(../fonts/NotoSansTC-Bold.otf) format("woff2");
  }

  body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 1100px) {

  .container {
    max-width: 1100px;
  }

  .navbar .navItem:not(:first-child) a span {
    border-left-width: 1px;
  }

  .navbar .navItem:not(:first-child) a span {
    --tw-border-opacity: 1;
    border-left-color: rgb(225 225 225 / var(--tw-border-opacity));
  }
}
.openMenu {
  visibility: visible !important;
  --tw-translate-x: 0px !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.openMenuShadow {
  visibility: visible !important;
  opacity: 0.7 !important;
}
.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.right-6 {
  right: 1.5rem;
}
.bottom-8 {
  bottom: 2rem;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-full {
  top: 100%;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.\!left-0 {
  left: 0px !important;
}
.\!right-0 {
  right: 0px !important;
}
.bottom-0 {
  bottom: 0px;
}
.\!left-\[-25px\] {
  left: -25px !important;
}
.\!right-\[-25px\] {
  right: -25px !important;
}
.left-1\/2 {
  left: 50%;
}
.z-50 {
  z-index: 50;
}
.z-40 {
  z-index: 40;
}
.z-20 {
  z-index: 20;
}
.z-0 {
  z-index: 0;
}
.\!z-10 {
  z-index: 10 !important;
}
.m-10 {
  margin: 2.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-\[56px\] {
  margin-top: 56px;
}
.ml-\[6px\] {
  margin-left: 6px;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-\[6px\] {
  margin-top: 6px;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.block {
  display: block;
}
.\!block {
  display: block !important;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.\!hidden {
  display: none !important;
}
.aspect-\[350\/125\] {
  aspect-ratio: 350 / 125;
}
.aspect-\[251\/167\] {
  aspect-ratio: 251 / 167;
}
.aspect-\[300\/250\] {
  aspect-ratio: 300 / 250;
}
.aspect-\[390\/220\] {
  aspect-ratio: 390 / 220;
}
.aspect-\[350\/232\] {
  aspect-ratio: 350 / 232;
}
.aspect-\[125\/83\] {
  aspect-ratio: 125 / 83;
}
.aspect-\[157\/100\] {
  aspect-ratio: 157 / 100;
}
.aspect-\[390\/100\] {
  aspect-ratio: 390 / 100;
}
.h-9 {
  height: 2.25rem;
}
.h-\[36px\] {
  height: 36px;
}
.h-11 {
  height: 2.75rem;
}
.h-6 {
  height: 1.5rem;
}
.h-full {
  height: 100%;
}
.\!h-10 {
  height: 2.5rem !important;
}
.h-\[calc\(100vh-56px\)\] {
  height: calc(100vh - 56px);
}
.h-\[236px\] {
  height: 236px;
}
.h-\[22px\] {
  height: 22px;
}
.w-9 {
  width: 2.25rem;
}
.w-\[36px\] {
  width: 36px;
}
.w-full {
  width: 100%;
}
.w-\[250px\] {
  width: 250px;
}
.w-6 {
  width: 1.5rem;
}
.w-\[85\%\] {
  width: 85%;
}
.w-\[10\%\] {
  width: 10%;
}
.w-4\/5 {
  width: 80%;
}
.\!w-24 {
  width: 6rem !important;
}
.w-\[251px\] {
  width: 251px;
}
.\!w-10 {
  width: 2.5rem !important;
}
.\!w-auto {
  width: auto !important;
}
.w-\[22px\] {
  width: 22px;
}
.min-w-\[11px\] {
  min-width: 11px;
}
.max-w-\[172px\] {
  max-width: 172px;
}
.max-w-\[192px\] {
  max-width: 192px;
}
.max-w-\[1100px\] {
  max-width: 1100px;
}
.max-w-\[88px\] {
  max-width: 88px;
}
.max-w-\[800px\] {
  max-width: 800px;
}
.max-w-\[300px\] {
  max-width: 300px;
}
.max-w-\[251px\] {
  max-width: 251px;
}
.max-w-\[728px\] {
  max-width: 728px;
}
.max-w-\[125px\] {
  max-width: 125px;
}
.max-w-\[157px\] {
  max-width: 157px;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-0 {
  flex: 0 0 auto;
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize {
  resize: both;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.items-center {
  align-items: center;
}
.\!justify-start {
  justify-content: flex-start !important;
}
.\!justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-y-2 {
  row-gap: 0.5rem;
}
.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.gap-y-1 {
  row-gap: 0.25rem;
}
.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.gap-y-10 {
  row-gap: 2.5rem;
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.gap-y-8 {
  row-gap: 2rem;
}
.space-x-\[6px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(6px * var(--tw-space-x-reverse));
  margin-left: calc(6px * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-divide-opacity));
}
.divide-secondary > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(35 83 120 / var(--tw-divide-opacity));
}
.self-start {
  align-self: flex-start;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.\!overflow-y-auto {
  overflow-y: auto !important;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: 0.25rem;
}
.\!rounded-none {
  border-radius: 0px !important;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.\!border-0 {
  border-width: 0px !important;
}
.border {
  border-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.\!border-b {
  border-bottom-width: 1px !important;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-border-opacity));
}
.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(242 156 151 / var(--tw-border-opacity));
}
.border-primary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(235 99 92 / var(--tw-border-opacity));
}
.\!border-primary {
  --tw-border-opacity: 1 !important;
  border-color: rgb(242 156 151 / var(--tw-border-opacity)) !important;
}
.border-transparent {
  border-color: transparent;
}
.border-t-gray-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(225 225 225 / var(--tw-border-opacity));
}
.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 250 / var(--tw-bg-opacity));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(225 225 225 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.\!bg-transparent {
  background-color: transparent !important;
}
.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(235 99 92 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-\[\#ffecec\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 236 236 / var(--tw-bg-opacity));
}
.\!bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.\!bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops)) !important;
}
.\!bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
}
.bg-banner {
  background-image: linear-gradient(to bottom, rgba(35, 83, 120, 0.4), rgba(35, 83, 120, 0.4));
}
.from-transparent {
  --tw-gradient-from: transparent;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(0 0 0 / 0));
}
.to-white {
  --tw-gradient-to: #ffffff;
}
.fill-gray-500 {
  fill: #828282;
}
.fill-white {
  fill: #ffffff;
}
.fill-light-dark {
  fill: #807B75;
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-4 {
  padding: 1rem;
}
.p-\[6px\] {
  padding: 6px;
}
.p-6 {
  padding: 1.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}
.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pr-\[52px\] {
  padding-right: 52px;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-\[18px\] {
  padding-top: 18px;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.text-center {
  text-align: center;
}
.font-inter {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-\[26px\] {
  font-size: 26px;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-light {
  font-weight: 300;
}
.font-semibold {
  font-weight: 600;
}
.leading-\[20px\] {
  line-height: 20px;
}
.leading-\[18px\] {
  line-height: 18px;
}
.leading-\[24px\] {
  line-height: 24px;
}
.leading-\[28px\] {
  line-height: 28px;
}
.leading-\[30px\] {
  line-height: 30px;
}
.leading-none {
  line-height: 1;
}
.tracking-\[0\.5px\] {
  letter-spacing: 0.5px;
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(45 45 45 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(130 130 130 / var(--tw-text-opacity));
}
.text-dark {
  --tw-text-opacity: 1;
  color: rgb(28 27 25 / var(--tw-text-opacity));
}
.text-light-dark {
  --tw-text-opacity: 1;
  color: rgb(128 123 117 / var(--tw-text-opacity));
}
.\!text-primary-dark {
  --tw-text-opacity: 1 !important;
  color: rgb(235 99 92 / var(--tw-text-opacity)) !important;
}
.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(35 83 120 / var(--tw-text-opacity));
}
.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(235 99 92 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.\!text-primary {
  --tw-text-opacity: 1 !important;
  color: rgb(242 156 151 / var(--tw-text-opacity)) !important;
}
.opacity-0 {
  opacity: 0;
}
.\!opacity-100 {
  opacity: 1 !important;
}
.bg-blend-multiply {
  background-blend-mode: multiply;
}
.shadow-16 {
  --tw-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 0 0 16px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
  --tw-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 12px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* 基礎共用 */
.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}
.before\:inset-0::before {
  content: var(--tw-content);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}
.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}
.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}
.before\:w-screen::before {
  content: var(--tw-content);
  width: 100vw;
}
.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}
.before\:bg-light::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 250 / var(--tw-bg-opacity));
}
.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}
.first\:\!pl-0:first-child {
  padding-left: 0px !important;
}
.last\:mb-0:last-child {
  margin-bottom: 0px;
}
.last\:\!border-0:last-child {
  border-width: 0px !important;
}
.last\:\!border-b-0:last-child {
  border-bottom-width: 0px !important;
}
.last\:\!pb-0:last-child {
  padding-bottom: 0px !important;
}
.hover\:-translate-y-4:hover {
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:scale-125:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(242 156 151 / var(--tw-bg-opacity));
}
.hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.hover\:bg-primary-dark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(235 99 92 / var(--tw-bg-opacity));
}
.hover\:text-primary-dark:hover {
  --tw-text-opacity: 1;
  color: rgb(235 99 92 / var(--tw-text-opacity));
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(242 156 151 / var(--tw-text-opacity));
}
.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.hover\:shadow-8-16:hover {
  --tw-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 0 8px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:border-primary-dark:focus {
  --tw-border-opacity: 1;
  border-color: rgb(235 99 92 / var(--tw-border-opacity));
}
.focus\:outline-primary-dark:focus {
  outline-color: #eb635c;
}
.focus-visible\:border-primary-dark:focus-visible {
  --tw-border-opacity: 1;
  border-color: rgb(235 99 92 / var(--tw-border-opacity));
}
.disabled\:\!hidden:disabled {
  display: none !important;
}
.group:hover .group-hover\:fill-white {
  fill: #ffffff;
}
@media (min-width: 1100px) {

  .xl\:visible {
    visibility: visible;
  }

  .xl\:static {
    position: static;
  }

  .xl\:mt-\[80px\] {
    margin-top: 80px;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-8 {
    margin-top: 2rem;
  }

  .xl\:mt-5 {
    margin-top: 1.25rem;
  }

  .xl\:mt-6 {
    margin-top: 1.5rem;
  }

  .xl\:mt-4 {
    margin-top: 1rem;
  }

  .xl\:mt-2 {
    margin-top: 0.5rem;
  }

  .xl\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xl\:block {
    display: block;
  }

  .xl\:inline-block {
    display: inline-block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:\!flex {
    display: flex !important;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:aspect-\[800\/175\] {
    aspect-ratio: 800 / 175;
  }

  .xl\:aspect-\[970\/250\] {
    aspect-ratio: 970 / 250;
  }

  .xl\:aspect-\[1100\/425\] {
    aspect-ratio: 1100 / 425;
  }

  .xl\:aspect-\[345\/230\] {
    aspect-ratio: 345 / 230;
  }

  .xl\:aspect-\[486\/324\] {
    aspect-ratio: 486 / 324;
  }

  .xl\:aspect-\[255\/170\] {
    aspect-ratio: 255 / 170;
  }

  .xl\:aspect-\[300\/598\] {
    aspect-ratio: 300 / 598;
  }

  .xl\:aspect-\[120\/80\] {
    aspect-ratio: 120 / 80;
  }

  .xl\:aspect-\[1100\/120\] {
    aspect-ratio: 1100 / 120;
  }

  .xl\:h-auto {
    height: auto;
  }

  .xl\:min-h-\[calc\(100vh-292px\)\] {
    min-height: calc(100vh - 292px);
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:w-\[325px\] {
    width: 325px;
  }

  .xl\:w-\[245px\] {
    width: 245px;
  }

  .xl\:w-\[135px\] {
    width: 135px;
  }

  .xl\:max-w-\[380px\] {
    max-width: 380px;
  }

  .xl\:max-w-\[110px\] {
    max-width: 110px;
  }

  .xl\:max-w-\[970px\] {
    max-width: 970px;
  }

  .xl\:max-w-full {
    max-width: 100%;
  }

  .xl\:max-w-\[255px\] {
    max-width: 255px;
  }

  .xl\:max-w-\[300px\] {
    max-width: 300px;
  }

  .xl\:max-w-\[730px\] {
    max-width: 730px;
  }

  .xl\:max-w-\[120px\] {
    max-width: 120px;
  }

  .xl\:flex-initial {
    flex: 0 1 auto;
  }

  .xl\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:gap-y-0 {
    row-gap: 0px;
  }

  .xl\:gap-x-\[34px\] {
    -moz-column-gap: 34px;
         column-gap: 34px;
  }

  .xl\:gap-x-16 {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }

  .xl\:gap-x-\[72px\] {
    -moz-column-gap: 72px;
         column-gap: 72px;
  }

  .xl\:gap-y-8 {
    row-gap: 2rem;
  }

  .xl\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .xl\:gap-y-4 {
    row-gap: 1rem;
  }

  .xl\:\!overflow-hidden {
    overflow: hidden !important;
  }

  .xl\:\!border-l {
    border-left-width: 1px !important;
  }

  .xl\:border-b-transparent {
    border-bottom-color: transparent;
  }

  .xl\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .xl\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .xl\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .xl\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .xl\:py-\[18px\] {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .xl\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .xl\:pt-4 {
    padding-top: 1rem;
  }

  .xl\:pb-4 {
    padding-bottom: 1rem;
  }

  .xl\:pb-\[72px\] {
    padding-bottom: 72px;
  }

  .xl\:pt-6 {
    padding-top: 1.5rem;
  }

  .xl\:pl-16 {
    padding-left: 4rem;
  }

  .xl\:pr-0 {
    padding-right: 0px;
  }

  .xl\:pb-8 {
    padding-bottom: 2rem;
  }

  .xl\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl\:text-\[32px\] {
    font-size: 32px;
  }

  .xl\:text-\[22px\] {
    font-size: 22px;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:leading-\[20px\] {
    line-height: 20px;
  }

  .xl\:leading-\[48px\] {
    line-height: 48px;
  }

  .xl\:leading-\[30px\] {
    line-height: 30px;
  }

  .xl\:leading-\[32px\] {
    line-height: 32px;
  }

  .xl\:line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .xl\:line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .xl\:before\:ml-0\.5::before {
    content: var(--tw-content);
    margin-left: 0.125rem;
  }

  .xl\:before\:ml-0::before {
    content: var(--tw-content);
    margin-left: 0px;
  }

  .xl\:before\:w-\[925px\]::before {
    content: var(--tw-content);
    width: 925px;
  }

  .xl\:before\:content-none::before {
    --tw-content: none;
    content: var(--tw-content);
  }

  .xl\:last\:\!pr-0:last-child {
    padding-right: 0px !important;
  }

  .hover\:xl\:border-b-primary-dark:hover {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(235 99 92 / var(--tw-border-opacity));
  }
}

